* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;

    // outline: 1px solid black;    
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}