.navigation {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        gap: 50px;

        &-item {
            text-decoration: none;
            color: black;
            font-size: 18px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.red {
    color: red
}
.black {
    color: black;
}